@import "tailwindcss";

@theme inline {
  --color-background: #060e1e;
  --color-foreground: #f0f4f8;
  --font-sans: var(--font-inter);

  --color-dlx-dark: #060e1e;
  --color-dlx-dark-2: #0a1c30;
  --color-dlx-dark-3: #0e2240;
  --color-dlx-card: #0c1d32;
  --color-dlx-gold: #f0a500;
  --color-dlx-gold-light: #ffc024;
  --color-dlx-muted: #7a9ab5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #060e1e;
  color: #f0f4f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #f0a50030;
  color: #ffc024;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #060e1e;
}
::-webkit-scrollbar-thumb {
  background: #1a3050;
  border-radius: 3px;
}
